.newsletterWrapper::after {
    display: block;
    content: '';
    width: 120px;
    height: 40px;
    background: #0d121d;
    position: absolute;
    left: -33px;
    bottom: -20px;
    transform: rotate(45deg);
    border-top: 2px solid #0d121d;
}

@media screen and (max-width: 768px) {
    .newsletterWrapper::after {
        display: none;
    }
}

.inputWrapper::after {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background: #F9BA3F;
    position: absolute;
    left: -7px;
    bottom: -7px;
    transform: rotate(45deg);
    border-top: 4px solid #1e2534;
}

.inputWrapperError::after {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background: #F9BA3F;
    position: absolute;
    left: -7px;
    bottom: -7px;
    transform: rotate(45deg);
    border-top: 4px solid #FB385B;
}

.buttonWrapper::after{
    display: block;
    content: '';
    width: 20px;
    height: 16px;
    background: #F9BA3F;
    position: absolute;
    left: -10px;
    bottom: -8px;
    transform: rotate(45deg);
    border-top: 4px solid #1e2534;
}