.loader {
  display: inline-block;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 2px;
  right: 0;
  margin:auto;
  top: 50%;
  transform: translateY(-50%);
}

.loader:after {
  content: " ";
  display: block;
  width: 26px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 26px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}